@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap";
* {
  font-family: "Poppins", sans-serif;
}
.search .fa-search {
  margin-left: 350px;
  z-index: 1;
  position: absolute;
}
.btn {
  margin-right: 17px;
}
.navbars {
  box-shadow: 1px 1px 10px gainsboro;
}

@media (max-width: 600px) {
  .search .fa-search {
    margin-left: 120px;
  }
  .search {
    margin-left: -23px;
  }

  .wrap-logo {
    display: none;
  }
}

.blue {
  background: #2abdfc;
  color: #fff;
}
.navbar {
  padding: 10px 10%;
}
#logo {
  display: inline-block;
  margin-top: 7px;
  color: #fff;
}
#link {
  color: #fff;
  font-weight: bold;
  margin: 0 10px;
}
i {
  margin: 0 7px;
}
#sidebarCollapse {
  color: #fff;
  background: transparent;
  outline: none;
  margin: 0 20px;
}
#sidebarCollapse:hover {
  color: #2abdfc;
  background: #fff;
  outline: none;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  position: fixed;
  height: 100vh;
  z-index: 2;
  margin-top: 70px;
  transition: all 0.3s;
  box-shadow: 1px 1px 10px gainsboro;
}
#sidebar.active {
  margin-left: -250px;
}

.huruf .nav-item .nav-link img {
  width: 50px;
  height: 50px;
}
#sidebar .huruf a {
  color: #5fa0de;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: white;
}
#sidebar ul.components {
  padding: 20px 0px;
}

#sidebar ul p {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a {
  padding: 10px 10px 10px 20px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  font-weight: bold;
}
#sidebar ul li a:hover {
  color: white;
  background: #5fa0de;
  text-decoration: none;
  border-radius: 50px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #8a5fff;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#content {
  width: 100%;
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  margin-top: 70px;
  margin-left: 17%;
}

@media (min-width: 900px) {
  #content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 70px;
  }

  #content.active {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  #sidebar {
    margin-left: -250px;
  }
  #content {
    margin-left: -30px;
  }
  #sidebar.active {
    margin-left: 0px;
  }
  #sidebarCollapse span {
    display: none;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .books .card-books {
    width: 160px !important;
  }
  #sidebar {
    margin-top: 70px !important;
  }
  #content {
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  #logo {
    display: none;
  }
}

* {
  font-family: "Poppins", sans-serif;
}
